---

---

<main
  class="grids-[auto-1fr] divide grid h-full min-h-dvh w-full grid-cols-[auto-1fr-auto]"
>
  <!-- Side Menu -->
  <slot name="side-bar" />

  <slot name="header" />

  <slot name="content" />
</main>
