---
import { H1 } from "@/common/components/ui/h1";
import { P } from "@/common/components/ui/p";

import RootLayout from "@/common/layouts/root-layout.astro";
---

<RootLayout title="Le-Insight | 403">
  <main class="flex h-screen flex-col items-center justify-center">
    <H1 className="text-7xl underline lg:text-9xl">403</H1>
    <P className="max-w-sm text-center">
      Forbidden! Looks like you do not have access to the page.
    </P>
  </main>
</RootLayout>
