---
import { H1 } from "@/common/components/ui/h1";
import { P } from "@/common/components/ui/p";
import RootLayout from "@/common/layouts/root-layout.astro";
import { cn } from "@/common/lib/utils";

interface Props {
  title: string;
  description: string;
  class?: string;
}
---

<RootLayout title="Le-Insight | Onboarding">
  <main
    class={cn(
      "container flex h-full w-full flex-col items-start justify-start gap-8 overflow-y-auto overflow-x-hidden py-12 md:flex-row md:items-center md:justify-center",
      Astro.props.class,
    )}
  >
    <!-- Title -->
    <div class="space-y-2 sm:space-y-4 sm:px-8 md:px-24">
      <H1>{Astro.props.title}</H1>
      <P className="max-w-sm text-sm">
        {Astro.props.description}
      </P>
    </div>

    <slot />
  </main>
</RootLayout>
